h1 
form(action="/books/create", method="POST")
     input(type/text, name="title" placeholder="nhập title" )
     br
     input(type/text, name="des" placeholder="nhập description" )
     button add book