h1 kho sách của bạn

a(href="/books/create") add new a book
br 
br
form(action="/books", method="GET")
     input(type/text, name="q")
     button search
ul 
   each user in todo
    //li= user.title + " & " + user.des + 
    li 
       span= user.title 
       span &nbsp; 
      
     
       
       span &nbsp;
         a(href='/books/' + user.id) xóa